
# Ignore system files and IDE settings
.idea/
.DS_Store

_pycache/
*.pyc
*.pyo
*.pyd

# Ignore credentials and generated content
JSON_SECRETS/
input_texts/
input_speech/
generated_texts/
generated_speech/
